@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    background-color: #F4F4F4;
}
main{
    height: 100vh;
    max-height: 100vh;
    /* overflow-x: auto;
    overflow-y: auto; */
}
#__next.full, main.full{
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: auto;
}
main{
    /* background-color: #F4F4F4; */
}
.h-full{
    height: 100vh;
}
.h-100{
    height: 100%;
}
.bg-login{
    background-image: url('/images/bg-login.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.form-label{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.form-label-alternative{
    font-size: 16px;
    font-weight: 600;
    color: #707070;
}
.title{
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.sidebar{
    background-color: #fff;
    /* padding: 56px 40px; */
}
.sidebar .logo{
    margin: 56px 40px;
}
.sidebar .list-group .list-group-item{
    border: none;
    padding: 24px 40px;
    border-radius: 0;
}

.sidebar .list-group .list-group-item a{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
}

.sidebar .list-group .list-group-item.current a{
    color: #ED2729;
}
.sidebar .list-group .list-group-item.current{
    border-left: 12px solid #ED2729;
    padding-left: 28px;
}

.card.is-invalid,img.is-invalid{
    border: 1px solid #dc3545;
}

.rdt_TableHead .rdt_TableHeadRow{
    background-color: #666666;
    color: #FFFFFF;
}

.input-group-search span{
    border: none;
}
.input-group-search input.form-control{
    border-left: none;
    padding-left: 0;
}
.input-group-search input.form-control:focus{
    box-shadow: none;
    border-color: #ced4da;
}


input.form-control, select.form-select{
    border-radius: 4px;
    border: none;
    padding: 12px 18px;
}

.btn{
    border-radius: 19px;;
}

.card{
    border: none;
    border-radius: 4px;
}

.text-gray{
    color: #707070;
}

.bg-gray{
    background-color: #F4F4F4;
}
.card-hover{
    border-radius: 9px;
}
.card-hover:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    cursor: pointer;
}

.avatar{
    height: 150px;
    width: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}

.form-control-altertative{
    border: 1px solid #6c757d !important;
}
.form-control-altertative.is-invalid{
    border-color: #dc3545 !important;
}

.card-black{
    background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000065;
    border-radius: 31px;
    color: #fff;
    padding: 24px;
}
.card-black .card-header{
    border-top-left-radius: 31px;
    border-top-right-radius: 31px;
    border-color: #fff;
}

.cursor-pointer{
    cursor: pointer;
}

.card-radius{
    border-radius: 43px;
}
.card-blue{
    background: #4174FF 0% 0% no-repeat padding-box;
    color: #fff;
}

.ads{
    background-image: url('/images/dummy-ads.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    border-radius: 43px;
}
.border-12{
    border-radius: 12px;
}